################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/gamedev-intro-tutorials-master/05-SceneManager
